<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="atlogo.jpg">
    </a>
    <h2>AT Vendor</h2>
	 <%- include ("../partials/nav.ejs") %> 
   <%
		  if(warningMessage){
		%>
		  <div class="alert alert-danger" role="alert">
			<%= warningMessage %>
		  </div>
		<%
		  } else if(overwriteMessage){
    %>

      <div class="alert alert-warning" role="alert">
        <%= overwriteMessage %>
      </div>
    <%
      }
		%>
    <form method="POST" action="/add_at_credentials">
      <div class="form-group row">
		<div class="col-sm-3">

			<label for="username">AT App Username</label>
		</div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" aria-describedby="username " placeholder="Enter africastalking app username" name="username">
        </div>
      </div>
	  <div class="form-group row">
		<div class="col-sm-3">
			<label for="apiKey">AT Api Key</label>
		</div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="apiKey" aria-describedby="api key" placeholder="Enter africastalking api key" name="apiKey">
        </div>
      </div>
	  <div class="btn-div">
		  <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
    </form>
	<%- include ("../partials/footer.ejs") %> 
  </div>
</div>
</body>
</html>
